.outfits {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
	border-radius: 16px;
	overflow: hidden;
	&__col {
		flex: 1;
		border-radius: 16px;
		&_left {
			display: flex;
			flex-direction: column;
			gap: 8px;
			padding: 24px;
			background-color: $sec-bg;
		}
	}

	&__img {
		height: 100%;
		object-fit: cover;
		border-radius: 16px;
	}

	&__title {
		font-weight: 700;
		font-size: clamp(54px, 8.8vw, 124px);
		line-height: 120%;
	}

	&__text {
		font-weight: 500;
		font-size: 20px;
		line-height: 130%;
		margin-bottom: 24px;
	}
}
