.usps {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.usp {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    padding-bottom: 32px;
    border-radius: 12px;
    background-color: $sec-bg;
    flex: 1;
    min-width: 260px;
    transition-duration: .2s;
    border: 1px solid transparent;
    border-bottom: 5px solid transparent;
    &__title {
        font-size: 18px;
        line-height: 1;
        font-weight: 700;
    }

    &__text {
        font-size: 14px;
        line-height: 130%;
        opacity: .9;
    }

    &:hover {
        @include hover() {
            transform: translate(0, -12px);
            border-color: $text-color;
        }
    }
}
